.notes-winner {
  .level1 {
    clear:left;
  }

  .level2 {
    clear:left;
  }

  .level3 {
    clear:left;
  }

  .trophy {
    text-align: center;
    width: 86px; margin:auto;
    position: relative;
    padding: 10px;
    display: inline-block;
    //  margin-right: 10px;

    em {
      color: white;
      position: absolute;
      font-size: 1.7em;
      left: 37px;
      top: 14px;
      font-style: normal;
      font-weight: bold;
    }

    .info {
      white-space:nowrap;
    }

    &.l1 { color: gold; }
    &.l2 { color: silver; }
    &.l3 { color: burlywood; }
  }
}