.splashpage {
  & > .wrapper {
  //  font-family: 'Open Sans', sans-serif;
//    color: #eee;
//    font-size: 16px;
    margin: 0;
    padding: 0;
  /*  background: #0b384d url('/img/xt-background.jpg') no-repeat left top !important;*/
    background-size: cover !important;
  }

  & > .wrapper > .navbar {
    display: none !important;
  }

  .sidebar { display: none !important; }

  .content { margin: 0; }

  .loading-overlay { left: 95px; }
}

.splashpage-wrapper {
  width: 380px;
//  height: 458px;

  p {
    text-align: center;
  }

  .description {
    font-size: 14px;
//    color: #ccc;
  }

  .str-top {
    padding-top:1em;
    text-align: center;
  /*  border-bottom: 1px solid rgba(255, 255, 255, .5);*/
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
  }

  .str-content {
    text-align: center;
    padding: 20px 10px 5px;
    cursor: pointer;
  }

  .str-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    text-decoration: none;
    padding-bottom: 10px;
  }

  .str-arrow:hover {
    text-decoration: none;
    color: #6bd3f3;
  }

  .str-bottom {
//    border-top: 1px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
            background-clip: padding-box;

    img { margin-top: 24px; }
  }

  .spacedrow {
    margin-top: 10px;
  }

  .client-version {
    color: #aaa; font-size:12px; margin-top:16px; text-align:center;
//    position:absolute; bottom:19px; right:19px;
  }

  md-input-container {
    padding-bottom: 13px;
  }
}

.powered {

  text-align: center;
  margin-top:3em;

  .bts-logo {
    background:url("../img/logo-ico.svg") no-repeat;
    background-size:46px 46px;
    width:46px; height:46px; display:block; margin:auto;
  }
  .text-muted {
    font-size:12px; margin-top:4px;
  }
}

.full-width {
  width: 100%;
  input { width: 100%; }
}

.mt {
  margin-top:8px;
}

.mb {
  margin-bottom:8px;
}
