<md-card>
  <md-card-content>

    <div class="header">
      <h3 class="header-title" translate>directory.directory</h3>
      <p class="header-info">&nbsp;</p>

      <div class="row">
        <md-tabs class="md-no-transition" md-selected="selectedIndex" md-dynamic-height md-border-bottom>
          <md-tab ng-repeat="tab in tabs">
            <md-tab-label>
              <i class="fa {{tab.icon}}"></i> {{ tab.heading | translate }}
            </md-tab-label>
            <md-tab-body class="md-no-transition">
              <div ui-view="{{tab.route.replace('.','-')}}" flex></div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </div>
    </div>

  </md-card-content>
</md-card>
