<md-card>
  <md-card-content>

    <div class="header">
      <h3 class="header-title" translate>directory.directory</h3>
      <p class="header-info">&nbsp;</p>

      <div class="row">
        <md-tabs md-selected="selectedIndex">
          <md-tab ng-repeat="tab in tabs">
            <md-tab-label>
              <h3><i class="fa {{tab.icon}} fa-lg"></i> {{ tab.heading | translate }}</h3>
            </md-tab-label>

            <div ui-view="{{tab.route.replace('.','-')}}" flex></div>
          </md-tab>
        </md-tabs>
      </div>
    </div>

  </md-card-content>
</md-card>
