<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title translate>index.title</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" media="all">
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon" href="img/ico/Icon-60@2x.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/ico/Icon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/ico/Icon-76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/ico/Icon-76@2x.png" />
    <link rel="apple-touch-icon" sizes="58x58" href="img/ico/Icon-Small@2x.png" />

    <script type="text/javascript" src="/js/app.js"></script>
    <!--<base href="/pre_release" />-->
  </head>
  <body class="cover fixed_header" ng-class="{splashpage: splashpage, windows: qt_os_name === 'windows'}" ng-controller="RootController">
    <pageslide ps-open="context_help.open" ps-size="460px">
    <div id="context-help">
      <a class="close-help-link" ng-click="close_context_help()"><span translate>btn.close</span> <i class="fa fa-angle-double-right fa-fw"></i></a>
      <div class="context-help-content" ng-include src="context_help.file"></div>
    </div>
    </pageslide>
    <div class="wrapper" flex layout="row" ng-class="theme" layout-fill>
      <!-- SIDEBAR -->
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 sidebar" md-component-id="sidenav" md-is-locked-open="$media('gt-sm')">
        <div ng-include src="'sidenav.html'"></div>
      </md-sidenav>

      <div layout="column" layout-fill>
        <!-- Toolbar -->
        <md-toolbar class="md-default-theme" ng-if="!splashpage" ng-controller="ToolbarController">
          <div layout="row" class="md-toolbar-tools fill-height" ng-include src="'toolbar.html'"></div>
        </md-toolbar>

        <!-- View -->
        <md-content ui-view md-scroll-y flex class="md-padding main-content"></md-content>

      </div>

    </div>
    <div loading-indicator></div>
    <footer ng-if="!splashpage" ng-class="alert_level" ng-controller="FooterController">
      <div ng-include src="'footer.html'"></div>
    </footer>
  </body>
</html>
