<md-card>
  <md-card-content>
    <div class="header">
      <h3 class="header-title" translate>index.console</h3>
    </div>

    <form ng-submit='submit()'>
        <input
            id='cmd' ng-model="console_state.command" autofocus
            typeahead="command for command in console_state.typeahead | filter:$viewValue | startsWithSort:$viewValue | limitTo:16 |  concatTypeAheadWorkAround:$viewValue | escapeHtmlList"
            typeahead-editable="true"
            placeholder="{{'console.type_cmd_and_enter'|translate}}"
            ng-trim="false" class="form-control" id="spending_password"
            typeahead-on-select="select($item)">
    </form>

    <div ng-repeat="output in console_state.outputs track by $index">
      <pre>{{output}}</pre>
    </div>
  </md-card-content>
</md-card>