<md-card layout="column">
  <form role="form" name="pform" ng-submit="updatePreferences()" ng-class="{ 'has-error' : pform.wp.$invalid && !pform.wp.$pristine }" novalidate>

  <md-content layout-padding layout="column">
    <div class="header">
      <h3 class="header-title" translate>pref.title</h3>
    </div>

    <div layout="row" layout-align="start start">
          <!-- wallet lock timeout -->
          <div layout="row" flex layout-align="start center">
            <md-input-container flex>
              <label for="timeout" translate>pref.logout_timeout</label>
              <input id="timeout" numonly autofocus ng-model="model.timeout" name="timeout" />
            </md-input-container>
            <span class="input-group-addon">{{ 'utils.seconds' | translate}}</span>
          </div>

          <span flex="5"></span>

          <!-- transaction fee -->
          <div layout="row" flex layout-align="start center">
            <md-input-container flex>
              <label for="transaction_fee" translate>pref.trx_fee</label>
              <input id="transaction_fee" decimalonly ng-model="model.transaction_fee" name="transaction_fee" ng-disabled="is_bitshares_js"/>
            </md-input-container>
            <span class="input-group-addon">{{model.symbol}}</span>
          </div>
    </div>

    <div layout="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label translate>pref.default_vote</label>
        <md-select ng-model="voting.default_vote">
          <md-option ng-repeat="(k, v) in voting.vote_options" ng-value="v">
            {{ ('account.vote.' + v) | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" layout-align="start start">

      <div layout="row" flex>
        <!-- interface language -->
        <md-input-container flex>
          <label for="language" translate>pref.language</label>
          <md-select ng-model="model.language_name">
            <md-option ng-repeat="(k, v) in model.languages" ng-value="v" ng-click="model.language_locale=k; model.language_name=v">
              {{v}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <span flex="5"></span>

      <!-- timezone -->
      <div layout="row" flex>
          <md-autocomplete flex
                md-floating-label="{{'pref.timezone'|translate}}"
                md-search-text-change="searchTextChange()"
                md-selected-item="model.timezone"
                md-search-text="search_text"
                md-selected-item-change="selectedItemChange(item)"
                md-items="item in queryTimezones()"
                md-item-text="item"
                md-min-length="1">
            <md-item-template>
              <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
            </md-item-template>
            <md-not-found>
              No matches found for "{{searchText}}".
            </md-not-found>
          </md-autocomplete>
      </div>

    </div>
  </md-content>
  <md-card-actions layout-align="end start" layout="row">
    <md-button type="submit" class="md-primary md-raised">{{ 'btn.update' | translate }}</md-button>
  </md-card-actions>
  </form>
</md-card>
