<md-card>
  <md-card-content>
    <div class="header">
      <h3 class="header-title" translate>pref.title</h3>
    </div>

    <form class="form-horizontal" flex="50" role="form" name="pform" ng-submit="updatePreferences()"
          ng-class="{ 'has-error' : pform.wp.$invalid && !pform.wp.$pristine }" novalidate>

          <!-- transaction fee -->
         <label class="col-sm-offset-1 col-sm-3 control-label" for="transaction_fee" translate>pref.trx_fee</label>

         <md-input-container>
            <div class="col-sm-3 input-group">
              <input id="transaction_fee" decimalonly ng-model="model.transaction_fee" name="transaction_fee"
                     class="form-control" placeholder="Transaction Fee"
                     ng-disabled="is_bitshares_js"/> <span class="input-group-addon">{{model.symbol}}</span>
            </div>
         </md-input-container>

      <md-input-container>
        <label for="language" translate>pref.language</label>
        <div class="btn-group" dropdown is-open="status2.isopen">
          <button type="button" class="btn dropdown-toggle" dropdown-toggle>
            {{model.language_name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="(k, v) in model.languages">
              <a ng-click="model.language_locale=k; model.language_name=v; status2.isopen=false">{{v}}</a>
            </li>
          </ul>
        </div>
      </md-input-container>

      <!-- <md-input-container>
        <label translate>pref.theme</label>
        <div class="col-sm-3 no-lr-padding">
          <div class="btn-group" dropdown is-open="status3.isopen">
            <button type="button" class="btn dropdown-toggle" dropdown-toggle>
              {{model.theme_name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="(k, v) in model.themes">
                <a ng-click="model.theme=k; model.theme_name=v; status3.isopen=false">{{v}}</a>
              </li>
            </ul>
          </div>
        </div>
      </md-input-container> -->

      <md-button type="submit" class="md-primary md-raised" translate>btn.update</md-button>

    </form>
  </md-card-content>
</md-card>
