<md-card>
  <md-card-content>
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h3 class="header-title" translate>notes.title</h3>
        </div>
      </div>
    </div>

    <div class="row m-top">
      <div class="col-sm-4 col-md-2 text-center"
        ng-repeat="acct in account_names" ng-click="gotoBook(acct)" ng-class="{'text-muted': !acct.registered}" tooltip="{{(acct.registered ? 'notes.open' : 'notes.need_to_register') | translate}}">
        <div><i class="fa fa-book fa-5x"></i></div>
        <div>{{acct.name}}</div>
      </div>
    </div>
  </md-card-content>
</md-card>


<md-card>
  <md-card-content>
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h3 class="header-title" translate>notes.pot.title</h3>
        </div>
      </div>
    </div>
    <p translate>notes.pot.explain</p>
    <p>{{'notes.pot.current_pot'|translate}}: <span class="emphasis">{{pool|formatAsset}}</span></p>

    <md-subheader class="md-primary md-default-theme m-top" translate>
      notes.pot.my_winning_records
    </md-subheader>

    <div translate>notes.pot.wining_not_found</div>
  </md-card-content>
</md-card>