<md-content>
  <div layout="flow" layout-align="space-around start" layout-wrap>
    <md-card flex="20" ng-repeat="app in apps" style="{{app.disabled ? 'opacity:0.6;' : ''}}">
      <img ng-show="app.disabled"  ng-src="{{app.header_image}}" class="md-card-image" alt="Washed Out">
      <img ng-show="!app.disabled" ui-sref="{{app.route}}" ng-src="{{app.header_image}}" class="md-card-image" alt="Washed Out" style="cursor:pointer;">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{app.heading|translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{(app.id+'.desc')|translate}}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-disabled="app.disabled" ui-sref="{{app.route}}">{{'btn.start'|translate}}</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>