<div layout="vertical" layout-align="center center">
  <md-card class="splashpage-wrapper md-whiteframe-z1">
  <md-content class="md-padding">
  <div class="str-top">
    <img src="img/play-logo-h-white-shadow.png"/>
  </div>

  <!-- <div class="str-content" ng-click="descriptionCollapsed = !descriptionCollapsed"></div> -->
  <!-- <div class="description">
    <p translate>unlock.desc_title</p>
  </div> -->


  <div class="str-bottom">
    <form name="wform" class="form-inline" role="form" ng-submit="submitForm(wform.$valid, spending_password)" novalidate class="form-horizontal">

        <div class="description text-center">
          <h4 translate>wallet.create_new_wallet</h4>
          <p style="text-align:left;" translate>wallet.info</p>
        </div>

        <md-input-container>
          <label translate>unlock.spending_password</label>
          <input tabindex="1" ng-trim="false" ng-model="spending_password" name="sp" type="password" id="spending_password" required autofocus ng-minlength="9" ng-maxlength="255" flex />
          <div ng-messages="wform.sp.$error" ng-show="wform.sp.$error && !wform.sp.$pristine">
            <div ng-message="required"><span translate>wallet.pwd_required</span></div>
            <div ng-message="md-maxlength"><span translate>wallet.pwd_too_long</span></div>
            <div ng-message="minlength"><span translate>wallet.pwd_too_short</span></div>
          </div>
        </md-input-container>

        <md-input-container>
          <label translate>wallet.confirm_password</label>
          <input tabindex="2" ng-trim="false" ng-model="confirm_spending_password" name="csp" type="password" id="confirm_spending_password" required pw-check="spending_password" />
          <div ng-messages="wform.csp.$error" ng-show="wform.sp.$error && !wform.csp.$pristine">
            <div ng-message="required"><span translate>wallet.pwd_required</span></div>
            <div ng-message="md-maxlength"><span translate>wallet.pwd_too_long</span></div>
            <div ng-message="minlength"><span translate>wallet.pwd_too_short</span></div>
            <div ng-message="pwmatch"><span translate>wallet.pwd_not_match</span></div>
          </div>
        </md-input-container>


        <div layout="row" layout-align="center" class="m-top m-bottom">
          <md-button flex="50" ng-disabled="loading_indicator.show" type="submit" tabindex="3" class="md-raised md-primary" translate > wallet.create_wallet </md-button>
        </div>

        <p class="text-muted m-top"><small translate>unlock.risks_warning</small></p>

    </form>

  </md-content>

</md-card>
</div>