<md-card>
<md-card-content>
  <div class="header">
    <h3 class="header-title" translate>account.new_account</h3>
  </div>

  <div class="col-sm-3 m-top">
    <div class="avatar col-lg-offset-3 col-md-offset-2">
      <img ng-src="http://robohash.org/set_1/{{f.name}}?size=200x200" height="200" width="200" ng-if="f.name"
           tooltip="Your RoboHash is a security feature that helps you verify account names visually"/> <img
        src="img/user.png" height="200" width="200" ng-if="!f.name"/>
    </div>
  </div>

  <div class="col-sm-9">
    <form name="createaccount" class="form-horizontal m-top" role="form" ng-submit="createaccount.$valid && createAccount()" novalidate>

      <md-input-container flex>
        <label for="account_name" translate>account.name</label>
        <input ng-model="f.name" name="account_name" autofocus form-name="createaccount" popover-append-to-body='true' show-note-1="true" show-note-2="false" required>
        <div ng-messages="createaccount.account_name.$error" ng-show="(createaccount.account_name.$invalid || createaccount.account_name.error_message) && !createaccount.account_name.$pristine">
          <div ng-message="required"><span translate>tip.required</span></div>
        </div>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary mt" ng-disabled="!createaccount.$valid"  translate>accounts.create_account</md-button>

    </form>

  </div>

</md-card-content>
</md-card>
