<div class="alert alert-{{ann.level}} alert-dismissible" role="alert" ng-repeat="ann in announcements">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 ng-if="ann.title">{{ann.title}}</h4>
  <p layout="row">
    <span>{{ann.message}}</span>
    <span flex></span>
    <md-button class="md-raised" href="{{ann.url}}" target="_blank" ng-if="ann.url">{{'btn.learn_more'|translate}}</md-button>
  </p>
</div>

<md-card style="margin-bottom:3em;">
  <md-card-content>
    <p translate>ad.promo</p>


    <div class="ad-item col-md-4" ng-repeat="ad in ads track by $index" ng-switch="ad.creative.type">
      <a ng-switch-when="text" href="{{ad.creative.url}}" target="_blank"
           class="ad ad-text" style="width:{{ad.width}};height:{{ad.height}}">
        <p>{{ad.creative.creative.text}}</p>
      </a>

      <a ng-switch-when="image" href="{{ad.creative.url}}" target="_blank"
           class="ad ad-image" style="width:{{ad.width}};height:{{ad.height}}">
        <img src="{{ad.creative.creative.image}}" />
      </a>
    </div>


  </md-card-content>

  <md-divider></md-divider>

  <md-card-content class="trollbox-container" ng-controller="TrollboxController" ng-include src="'trollbox.html'"></md-card-content>

</md-card>
