        <!-- <md-toolbar class="md-theme-indigo" layout="row" ng-controller="SidenavController">
          <h1 class="md-toolbar-tools">DAC PLAY</h1>
          <span flex></span>
          <md-button ng-click="back()" tooltip="Back" tooltip-placement="bottom" aria-label="Back">
            <i class="fa fa-chevron-left"></i>
          </md-button>
          <md-button class="hidden" ng-click="forward()" tooltip="Forward" tooltip-placement="bottom" flex-offset="5"  aria-label="Forward">
            <i class="fa fa-chevron-right"></i>
          </md-button>
        </md-toolbar> -->

        <md-content role="navigation" ng-controller="SidenavController">

          <header class="nav-header">
            <div ng-show="current_account" layout-align="center">
              <a ui-sref="account({name: current_account.name})" class="play-logo" ng-if="current_account">
                <identicon account="{{current_account.name}}" size="150" class="identicon" />
              </a>

              <md-input-container>
                <md-select class="accounts-dp" ng-model="current_account_name" md-on-close="switchCurrentAccount(current_account_name);" layout-align="center" placeholder="{{'accounts.select_account'|translate}}">
                    <md-option ng-repeat="(name, account) in accounts" ng-value="name">
                      <identicon account="{{name}}" size="32" class="identicon" /> {{name}} <span class="rp">(RP: {{account.stats_info.rp/100000|number:0}})</span>
                    </md-option>
                </md-select>
              </md-input-container>

              <!-- <div class="current-account-summary" ng-show="current_account">
                RP: {{current_account.stats_info.rp/100000|number:0}}
              </div> -->

            </div>

            <a ui-sref="home" class="play-logo" ng-if="!current_account">
              <img src="img/play-logo-ico.svg">
              <h1 class="docs-logotype md-heading">DAC PLAY</h1>
            </a>
          </header>

          <ul class="nav nav-stacked">
            <li ng-repeat="section in sectionPrimary">
              <menu-link section="section"></menu-link>
            </li>

            <md-divider style="margin:1rem 0px;"></md-divider>

            <li ng-repeat="section in sectionSecondary">
              <menu-link section="section"></menu-link>
            </li>
          </ul>
        </md-content>