        <md-toolbar class="md-theme-indigo" layout="row" ng-controller="SidenavController">
          <h1 class="md-toolbar-tools">DAC PLAY</h1>
          <span flex></span>
          <md-button ng-click="back()" tooltip="Back" tooltip-placement="bottom" aria-label="Back">
            <i class="fa fa-chevron-left"></i>
          </md-button>
          <md-button class="hidden" ng-click="forward()" tooltip="Forward" tooltip-placement="bottom" flex-offset="5"  aria-label="Forward">
            <i class="fa fa-chevron-right"></i>
          </md-button>
        </md-toolbar>

        <md-content class="md-padding" role="navigation" ng-controller="SidenavController">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
          </md-button>

          <ul class="nav nav-stacked">
            <li ui-sref-active="active"><a ui-sref="home"><i class="fa fa-home fa-fw"></i>{{ 'index.overview' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="accounts"><i class="fa fa-bank fa-fw"></i>{{ 'index.my_account' | translate }}</a></li>
            <li ng-class="{active: current_path_includes('directory')}"><a ui-sref="directory.favorites"><i class="fa fa-book fa-fw"></i>{{ 'index.directory' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="delegates"><i class="fa fa-flag fa-fw"></i>{{ 'index.delegates' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="notebooks"><i class="fa fa-flag fa-fw"></i>{{ 'index.notes' | translate }}</a></li>
            <li ng-class="{active: current_path_includes('chips')}" class="disabled"><a ui-sref="chips"><i class="fa fa-exchange fa-fw"></i>{{ 'index.chips' | translate }}</a></li>
            <li ng-class="{active: current_path_includes('games')}" class="disabled"><a ui-sref="games"><i class="fa fa-exchange fa-fw"></i>{{ 'index.games' | translate }}</a></li>
            <li ng-class="{active: current_path_includes('blocks')}"><a ui-sref="blocks"><i class="fa fa-link fa-fw"></i>{{ 'index.block_explorer' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="preferences"><i class="fa fa-gears fa-fw"></i>{{ 'index.preferences' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="console"><i class="fa fa-terminal fa-fw"></i>{{ 'index.console' | translate }}</a></li>
            <li ng-class="{active: current_path_includes('mail')}" ng-show="mail_enabled"><a ui-sref="mail({box:'inbox'})"><i class="fa fa-envelope fa-fw"></i>{{ 'index.mail' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="help"><i class="fa fa-question-circle fa-fw"></i>{{ 'index.help' | translate }}</a></li>
          </ul>
        </md-content>