  <div class="troll-panel">
    <p class="text-muted text-right" translate>ad.trollbox</p>

    <div class="troll-box" id="troll_box">
      <ul>
        <li class="troll-item" ng-repeat="message in messages" ng-class="{'my-message': message.is_mine}">
          <span class="username" data-id="{{message.userid}}">{{message.username}}:</span>
          <div class="message-container">{{message.message}}</div>
        </li>
      </ul>
    </div>
    <div class="troll-staging alert alert-warning hide"
         ng-class="{'slidedUp': staged_messages.length > 0, 'slidedDown': staged_messages.length == 0}">
      <span class="label label-warning">{{'tip.pending'|translate}}</span>
      {{staged_messages[staged_messages.length - 1].message | limitTo:35}}
      <span class="badge pull-right">{{staged_messages.length}}</span>
    </div>
  </div>

  <md-divider></md-divider>

  <div class="chatbox">
    <form name="chat_form" class="form-horizontal" role="form" ng-submit="post()" novalidate>

        <div layout="row" layout-align="center center" ng-init="setForm(chat_form)">
          <md-select name="chatter" ng-model="from.account" aria-label="{{'ad.select_account'|translate}}">
            <md-option ng-value="a" ng-repeat="a in accounts">{{a.account_name}}: {{a.balance | formatAsset }}</md-option>
          </md-select>

          <md-input-container flex>
            <label>{{'ad.write_sth'|translate}}</label>
            <input name="message" ng-model="chatBid.creative.creative.text" ng-change="checkFee();" required minlength="1">
            <div ng-messages="chat_form.message.$error" ng-show="chat_form.message.$dirty">
              <div ng-message="required">{{'tip.required'|translate}}</div>
              <div ng-message="minlength">{{'tip.too_short'|translate}}</div>
              <div ng-message="insufficientFund">{{'market.tip.insufficient_balances'|translate}}</div>
              <div ng-message="reg_acct_required">{{'ad.tip.reg_acct_required'|translate}}</div>
              <div ng-message="generalError">{{chat_form.message.$error.generalError}}</div>
            </div>
            <div class="hint text-muted" style="order:5;text-align:right;" ng-show="chatBid.creative.creative.text">{{feeRequired}} {{symbol}}</div>
          </md-input-container>

          <md-button class="md-primary md-mini">{{'btn.send'|translate}}</md-button>
        </div>

    </form>
  </div>