<div layout="vertical" layout-align="center center">
  <md-card class="splashpage-wrapper md-whiteframe-z1">
  <md-content class="md-padding">
    <div class="str-top">
      <img src="/img/play-logo-h-white-shadow.png"/>
    </div>

    <div class="description" ng-class="theme" collapse="false">
      <p translate>unlock.desc_content_1</p>
      <p translate>unlock.desc_content_2</p>
    </div>

        <div class="str-bottom">
          <div ng-show="update_available" class="danger" translate>tip.client_update_available</div>
          <form ng-submit="submitForm()" role="form" novalidate>
            <div class="form-group">
              <input ng-model="spending_password" name="sp" type="password" class="form-control input"
                     placeholder="Password" tabindex="1" autofocus focus
                     ng-keydown="keydown($event)" ng-keypress="keypress($event)" ng-trim="false"/>

            </div>
            <div layout="row" layout-align="center">
              <md-button flex="50" ng-disabled="!spending_password || loading_indicator.show" type="submit" tabindex="2" class="md-primary">{{ 'unlock.btn_unlock' | translate }}</md-button>
            </div>

            <label class="text-danger" ng-show="wrongPass" translate> unlock.wrong_pass </label> <label
              class="text-danger" ng-show="capsLockOn" translate> unlock.caps_lock_on </label>
          </form>
        </div>
      </md-input-container>
    </form>

    <div class="client-version">{{client_version}}</div>
  </div>

  <div class="powered">
    <div class="bts-logo"></div>
    <div class="text-muted">Powered by BitShares</div>
  </div>
  </md-content>
  </md-card>

</div>
