<div layout="vertical" layout-align="center center">
  <md-card class="splashpage-wrapper md-whiteframe-z1">
  <md-content class="md-padding">
    <div class="str-top">
      <img src="/img/play-logo-h-white-shadow.png"/>
    </div>

    <div class="str-content" ng-click="descriptionCollapsed = !descriptionCollapsed"></div>
    <div class="description" ng-class="theme" collapse="descriptionCollapsed">
      <p translate>unlock.desc_content_1</p>
      <p translate>unlock.desc_content_2</p>
    </div>

    <md-button class="str-arrow fa {{descriptionCollapsed ? 'fa-sort-desc' : 'fa-sort-asc'}}" style="width:50px;" ng-click="descriptionCollapsed = !descriptionCollapsed"></md-button>

        <div class="str-bottom">
          <div ng-show="update_available" class="danger" translate>tip.client_update_available</div>
          <form ng-submit="submitForm()" role="form" novalidate>
            <div class="form-group">
              <input ng-model="spending_password" name="sp" type="password" class="form-control input"
                     placeholder="Password" tabindex="1" autofocus focus
                     ng-keydown="keydown($event)" ng-keypress="keypress($event)" ng-trim="false"/>
              <button ng-disabled="!spending_password || loading_indicator.show" type="submit" tabindex="2" class="btn btn-primary" translate>
                unlock.btn_unlock
              </button>
            </div>
            <label class="text-danger" ng-show="wrongPass" translate> unlock.wrong_pass </label> <label
              class="text-danger" ng-show="capsLockOn" translate> unlock.caps_lock_on </label>
          </form>
          <!--<img ng-if="theme==='default'" src="img/logo-ico-blue.svg" width="64" height="64"/> <img ng-if="theme==='flowers'"-->
                                                                                              <!--src="img/logo-ico-blue.svg"-->
                                                                                              <!--width="64" height="64"/>-->
          <br/><br/> <span class="client-version" ng-class="theme">{{client_version}}</span>
        </div>
      </md-input-container>

      <div layout="row" layout-align="center">
        <md-button flex="50" ng-disabled="loading_indicator.show" type="submit" tabindex="2" class="md-raised md-primary" translate > unlock.btn_unlock </md-button>
      </div>

      <div class="text-danger text-center mt" ng-show="wrongPass" translate> unlock.wrong_pass </div>
      <div class="text-danger text-center mt" ng-show="capsLockOn" translate> unlock.caps_lock_on </div>
    </form>

    <div class="client-version">{{client_version}}</div>
  </div>

  <div class="powered">
    <div class="bts-logo"></div>
    <div class="text-muted">Powered by BitShares</div>
  </div>
  </md-content>
  </md-card>

</div>
